/* --- ESTILOS GLOBAIS --- */

/* Regra geral para elementos clicáveis */
button, input[type="submit"], input[type="button"], select, [role="button"], [tabindex="0"] {
    cursor: url('../../images/cursor-pointer.png'), pointer;
}

body {
    cursor: url('../../images/cursor.png'), auto;

    font-family: 'Poppins', sans-serif;
    background-image: url('../../images/fundo.jpg');
    background-size: cover;
    /* background-color: var(--cor-fundo); */
    color: var(--cor-texto);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
} 


a {
    color: var(--cor-destaque);
    text-decoration: none;
    cursor: url('../../images/cursor-pointer.png'), pointer;
}

.btn-primary {
    background-color: var(--cor-destaque);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    appearance: None;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: url('../../images/cursor-pointer.png'), pointer;
}

.btn-primary:hover {
    background-color: #007bb5;
}

.btn-secondary { 
    background-color: var(--cor-destaque); 
    color: #fff; 
    padding: 0.7rem 1.5rem; 
    border-radius: 5px;
    font-family: inherit;
    appearance: None;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: url('../../images/cursor-pointer.png'), pointer;
}

.btn-delete {
    background-color: var(--cor-perigo);
    color: #fff;
    padding: 0rem 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 2rem;
    appearance: None;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: url('../../images/cursor-pointer.png'), pointer;
}

.btn-delete:hover {
    background-color: #f17870;
}


.btn-edit {
    background-color: var(--cor-destaque);
    color: #fff;
    padding: 0rem 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 2rem;
    appearance: None;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: url('../../images/cursor-pointer.png'), pointer;
}

.btn-edit:hover {
    background-color: #3c00c9;
}

/* Estilo para as partículas do efeito */
.particle {
    position: fixed;
    border-radius: 50%;
    pointer-events: none; /* Impede que as partículas interfiram com o mouse */
    opacity: 0;
    z-index: 10; /* Ajuste o z-index conforme necessário */
    transform: translate(-50%, -50%);
}

.sparkle {
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    /* z-index: -1; Garante que as partículas fiquem atrás do conteúdo */
}